<html>
{{template "header.tmpl.html"}}
<body>
{{template "nav.tmpl.html"}}

<div class="container">
    <h1><span class="glyphicon glyphicon-book"></span> Practice</h1>
    <p>This practices are prepared to attack with this page as a server. This page will only show what your form is
        sending as a request no matter if data is in URL (query) or as payload within body.</p>
    <h2>Search form</h2>
    <p>Try to code form in picture without paying attention to styling</p>
    <img src="/static/practice/01-search.png"/>
    <ul>
        <li>Radio buttons should be in the same group (one selected at time)</li>
        <li><strong>All</strong> option should be selected</li>
        <li>Send form using GET</li>
    </ul>
    <a href="/files/01-search.zip">Download practice 1</a>
    <h2>Login form</h2>
    <p>Try to code form in picture without paying attention to styling</p>
    <img src="/static/practice/02-sign-in.png"/>
    <ul>
        <li>Checkbox should be selected by default</li>
        <li>Send form using POST</li>
    </ul>
    <a href="/files/02-sign-in.zip">Download practice 2</a>
    <h2>Login form</h2>
    <p>Try to code form in picture without paying attention to styling</p>
    <img src="/static/practice/03-sign-up.png"/>
    <ul>
        <li>Dropdown list contains: <strong>Admin</strong> and
            <storng>User</storng>
        </li>
        <li>Send form using POST</li>
    </ul>
    <a href="/files/03-sign-up.zip">Download practice 3</a>

</div>

</body>
</html>